*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}



img {
    display: block;
  
    object-fit: cover;
    border: 1px solid black;
}

 
 /* .cat-temperament  */
.breed-select{
    display: block;
    width: 1230px;
    border: 1px solid black;
margin: 0 auto 10 auto;
   
    font-size: 16px;
}

.error{
    display: none;
}

.cat-info{
    display: flex;
    
justify-content: center;
    gap: 10px;
    
}
.descr-wrap{
   
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
}

.cat-description{
    max-width: 700px;
}

.container{
    position: relative;
    padding: 50px;
    
}

.hidden {
    display: none;
}

.loader {
  
    position: absolute;
    top: 150px;
    left: 40%;
    width: 268px;
    height: 268px;
    border: 5px solid;
    border-color: #000000 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}